@page "/addGame"
@page "/editGame/{id:int}"

@using GameStore0.Client.TempServ;


<PageTitle>@actionTitle</PageTitle>
<h3>@actionTitle</h3>

<div class="row">
   <div class="col-sm-4">
        <EditForm Model="game" OnValidSubmit="HandleGameSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="mb-3">
                <label>Name:</label>
                <InputText @bind-Value="game.Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Price:</label>
                <InputNumber @bind-Value="game.Price" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Release Date:</label>
                <InputDate @bind-Value="game.ReleaseDate" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Genre:</label>
                <InputSelect @bind-Value="game.Genre" class="form-select" >
                    <option value="">Select Item...</option>
                    <option value="@Genre.Sport">Sport</option>
                    <option value="@Genre.RPG">RPG</option>
                    <option value="@Genre.Strategy">Strategy</option>
                </InputSelect>
            </div>
            <button class="btn btn-primary" type="submit">Записать</button>
            <button class="btn btn-secondary" @onclick="GoBack">Отмена</button>
            <button class="btn btn-secondary" @onclick="Delete">Удаление</button>
        </EditForm>
   </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    //private TempRepo tempRepo = new();

    private Game game;  // = new(0, string.Empty, 0, DateTime.UtcNow);

    private string actionTitle;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {//Просто так незя, ибо при Отмене изм-я всё-равно сохр-ся:
         //game = tempRepo.GetGameById(Id); //по этому так:
            Game gameToEdit = tempRepo.GetGameById(Id);
            game = new(gameToEdit.Id, gameToEdit.Name, gameToEdit.Price); //, gameToEdit.ReleaseDate, gameToEdit.Genre);
            actionTitle = $"Edit game {game.Name}";
        }
        else
        {
            game = new(0, string.Empty, 0); //, DateTime.UtcNow);
            actionTitle = "Cоздаём новую";
        }
    }

    private async Task HandleGameSubmit()
    {
        if (Id != 0)
        {
            tempRepo.UpdateGame(game);
        }
        else
        {
            tempRepo.AddGameToGames(TempRepo.GamesCollection, game);
        }
        navManager.NavigateTo("/");
    }

    private void GoBack()
    {
        navManager.NavigateTo("/");
    }

    private void Delete()
    {
        tempRepo.DeleteGame(TempRepo.GamesCollection, Id);
        navManager.NavigateTo("/");
    }
}
