@using Models;
@using TempServ;

@page "/"

<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog:</h1>

@if (games is null)
{
   <p>Loading..</p>
   <p><em>Loading..</em></p>
}
else
{
   <table class="table table-striped table-striped table-hover">
      <thead class="table-dark">
         <th>Id</th>
         <th>Name</th>
         <th>Price</th>
      </thead>
      <tbody>
         @foreach (var g in games.EnumerateAllGames())
         {
            <tr>
               <td>@g.Id</td>
               <td>@g.Name</td>
               <td>@g.Price</td>
               @* <td>@g.Genre</td>
         <td>@g.ReleaseDate</td> *@
            </tr>
         }
      </tbody>
   </table>
}


@code {
   //IEnumerable<Game> games = new Game[]{};// TempRepo.GetTempGames();
   GamesCollection games = new();

   protected override async Task OnInitializedAsync()
   {
      games = await Task.Run(() => TempRepo.GetTempGames());
   }
}